<form class="login-form">
    <div class="logo">
        <img src="{{ imgPath + 'logo_login.png' }}" alt="" class="img-responsive">
        <h1>Forgot password</h1>
        <p>A Reset password link will be sent to your registered email address</p>
    </div>
    <div class="wrap-inputlogin">
        <input class="inputlogin" type="text" name="email">
        <span class="focus-inputlogin"></span>
        <span class="label-inputlogin">Email</span>
    </div>


    <div class="form-btn-sec">
        <button class="btn form-btn" onclick="window.location.href='forgot-password-2.html'"> Send </button>
    </div>
    <div>
        <span class="txt-login2">
            <a href="javascript:void(0)" (click)="onLogin()">Cancel</a>
        </span>
    </div>
    <div>
        <span class="txt-login"> By Loging in, you agree to Evalueserve's </span>
        <span class="txt-login">
            <a href="#" target="_blank">Terms and conditions</a> &
            <a href="#" target="_blank">Privacy Policy</a>
        </span>
    </div>
    <div class="login-nav">
        <ul>
            <li>
                <a href="#" target="_blank">Our solutions</a>
            </li>
            <li>
                <span> | </span>
            </li>
            <li>
                <a href="#" target="_blank">Sales intelligence</a>
            </li>
            <li>
                <span> | </span>
            </li>
            <li>
                <a href="#" target="_blank">Procuremine</a>
            </li>
            <li>
                <span> | </span>
            </li>
            <li>
                <a href="#" target="_blank">Case studies</a>
            </li>
            <li>
                <span> | </span>
            </li>
            <li>
                <a href="#" target="_blank">Contact us</a>
            </li>
        </ul>
        <p>Copyright {{getCurrentYear()}}. Evalueserve.com Pvt. Ltd. All rights reserved.</p>
    </div>
</form>